<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<body>
  <label
    th:fragment="input(type, name, placeholder, label, value)"
    class="w-full flex flex-col gap-2"
  >
    <span class="text-sm font-medium text-zinc-700" th:text="${label}">Label</span>

    <div class="w-full p-2 border border-zinc-400 rounded focus-within:border-blue-500 focus-within:ring-1 focus-within:ring-blue-500 transition">
      <input
        class="outline-none w-full bg-transparent"
        th:type="${type}"
        th:name="${name}"
        th:placeholder="${placeholder}"
        th:value="${value}"
      >
    </div>
  </label>
</body>
</html>
